希望能支持v2fly-core的socks5代理认证功能

**情况说明: **

由于我需要使用“允许来自局域网连接”功能，今日被公司内网某些“高手”扫描出socks5代理端口，由于socks5代理端口"auth"字段为"noauth"，即无需认证，导致端口被加以利用。

由于我没有在v2rayN找到socks5端口认证设置，所以手动设置了config.json中["inbounds"]["settings"]["auth"]字段为["password"]并添加了["accounts"]认证账号密码，参考[v2ray->socks](https://www.v2ray.com/chapter_02/protocols/socks.html#inboundconfigurationobject)

但是在重启服务后，config.json文件被覆写，认证设置被重写为noauth，即无认证，设置失败。

**个人建议: **

希望作者大大能添加对socks5代理端口认证的支持，保护代理端口不被内网人士胡乱使用。

非常感谢您的阅读我的issues！如有不妥请您多多包涵。

这个需求很小众，添加的可能性不大
如果不经常换节点可以用自定义配置服务器先将就一下，直接将你改过的config.json导入应该就可以了

> 这个需求很小众，添加的可能性不大
> 如果不经常换节点可以用自定义配置服务器先将就一下，直接将你改过的config.json导入应该就可以了

我觉得啊，这个socks5认证可能还真不是小众需求。

我们多少都听说过网上诸多爬虫代理IP、高匿代理IP等，他们提供http、socks5方式的代理，正规付费的代理业务都需要使用用户名密码才能连接，这是市场应用方面对认证功能的重要体现；

而且socks5协议是进入了互联网工程任务组IETF的一项标准，[RFC1928](https://www.rfc-editor.org/rfc/rfc1928.html)初步提出v5版本，同时IETF后续还推出了三个补充标准[RFC1929](https://www.rfc-editor.org/rfc/rfc1929.html)、[RFC1961](https://www.rfc-editor.org/rfc/rfc1961.html)、[RFC3089](https://www.rfc-editor.org/rfc/rfc3089.html)，其中RFC1929和RFC1961均是在用户认证上做出了详细规范。这是socks5协议标准方面对认证功能的重要体现。

所以啊我还是觉得在认证方面作者完全可以再加点文章，让这款相当不错的软件功能更完美。

不是说标准socks5没有用，配置更加自由当然很好
只是v2rayN的inbound还没有实现图形化自定义，现在不太可能添加这个可选配置
至少也是在自定义inbound同时或之后，目前socks5和http的端口号还只能挨着
还需要时间，也有自由度和易用的平衡问题

我也需要socks5的方案

socks5认证确实很需要，希望作者能够添加

> 不是说标准socks5没有用，配置更加自由当然很好 只是v2rayN的inbound还没有实现图形化自定义，现在不太可能添加这个可选配置 至少也是在自定义inbound同时或之后，目前socks5和http的端口号还只能挨着 还需要时间，也有自由度和易用的平衡问题

为了代理使用局域网中使用的安全性，希望在v2rayN设置那，新增设置代理账号和密码，http和socks5都是用同样的密码，在网络安全大行其道的背景下，虽说小众，但安全功能也是需要，有更优，谢谢源主。

+1

+1，同样身为开源开发者，这明明是很容易就能加上去的功能，想不明白为什么这么抗拒（我看了好多issue，都是毫无原因的关闭），如果作者已无精力维护，建议将此repo进行archived，改由社区驱动继续开发。

> +1，同样身为开源开发者，这明明是很容易就能加上去的功能，想不明白为什么这么抗拒（我看了好多issue，都是毫无原因的关闭），如果作者已无精力维护，建议将此repo进行archived，改由社区驱动继续开发。

确实是这样的，v2rayN的开源者不够open，开源精神是什么：让社区群策群力便捷持续进化所开源的。Qv2ray个人感觉很好，所提issue都比较积极地响应。要不是因为它现在关闭不维护了，我会一直选择Qv2ray的。要不我们聚集些感兴趣的小伙伴们再重启Qv2ray怎么样？

v2rayN定位给普通用户使用，所以不接受导致复杂设置的功能需求。
目前的用户很多都无法理解什么是系统代理，给socks5和http代理增加了用户名和密码后他们可能就迷糊了。
如果您觉得此项目无法满足您的要求，可以选择不使用或者PR，PR时请考虑所有用户的使用情况，不要只考虑自己


关于增加软件复杂性这个说辞，个人并不太理解，现在软件已有的一些功能或者设置的复杂性远超本issue所讨论的添加用户认证的这个功能，所以这个说法是矛盾的。

关于pr，虽说我也是个开发者，但大多时候是作为一个用户的角色的，毕竟所涉及的知识大部分都不在自己的领域中，就比如楼上所提到的Qv2ray，我也不会qt，这也没办法参与啊，如果可以的话，肯定会pr的。

额外的，我认为有的东西应该是与生俱来的捆绑在一起，它们理应就是同时存在的。打个比方
1. 压缩工具，如果开发一个解压缩工具，要是只支持一种格式，常用的rar、zip、7z等都不支持，那么这个软件已经失去了使用以及实用意义。
2. 代码编辑器，如果一个代码编辑器连语法高亮都没做，只能叫文本编辑器。
3. 代理软件，抛开那些花里胡哨的协议、加密方式、https over http等等，最基本的功能应该就具备：基本流量转发、用户认证、二级代理。

以上是个人的一些见解。

> 关于增加软件复杂性这个说辞，个人并不太理解，现在软件已有的一些功能或者设置的复杂性远超本issue所讨论的添加用户认证的这个功能，所以这个说法是矛盾的。
> 
> 关于pr，虽说我也是个开发者，但大多时候是作为一个用户的角色的，毕竟所涉及的知识大部分都不在自己的领域中，就比如楼上所提到的Qv2ray，我也不会qt，这也没办法参与啊，如果可以的话，肯定会pr的。
> 
> 额外的，我认为有的东西应该是与生俱来的捆绑在一起，它们理应就是同时存在的。打个比方
> 
> 1. 压缩工具，如果开发一个解压缩工具，要是只支持一种格式，常用的rar、zip、7z等都不支持，那么这个软件已经失去了使用以及实用意义。
> 2. 代码编辑器，如果一个代码编辑器连语法高亮都没做，只能叫文本编辑器。
> 3. 代理软件，抛开那些花里胡哨的协议、加密方式、https over http等等，最基本的功能应该就具备：基本流量转发、用户认证、二级代理。
> 
> 以上是个人的一些见解。

赞同👍🏻+1

争论是没有意义的。
做不做是我们决定的，请不要用与生俱来来强迫别人



    




    
    这并不是争议，因为从未觉得此issue会被reopen把这功能做出来，也并没有谁对谁错。Message ID: ***@***.***>

> 这并不是争议，因为从未觉得此issue会被reopen把这功能做出来，也并没有谁对谁错。Message ID: ***@***.***>

找一批人重启Qv2ray吧